.recherche {
    display: grid;
    height: 97%;
    width: 97%;
    border-radius: 2rem;
    grid-template-columns: 11rem auto 0;
    overflow: hidden;
    background-color: #784BA0;
    background-image: linear-gradient(225deg, #784BA0 0%, #2B86C5 99%);

}