.navbar {
    background-image: linear-gradient(225deg, #2B86C5 99%);

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: serif;
    font-weight: bold;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2rem 2rem;
    text-decoration: none;
    transition-duration: 0.4s;
}

li a:hover {
    background-color: #343E59;
}