.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}

.container {
  display: grid;
  height: 97%;
  width: 97%;
  background: rgba(255, 255, 255, 0.55);
  border-radius: 2rem;
  grid-template-columns: 11rem auto 0;
  overflow: hidden;
}

.Dashboard {
  background-color: #1c1948;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}